.subTitle {
    font-size: smaller;
    color: gray;
    background: blue;    
}

#test {
    font-size: 2pt;
    /* V: 2.0 */
}

#gitlab {
    color: blue;
    background: orange;
    font-size: large;
}
